body{
margin: 0;
background-image: url("ruunigcar.jpg");
background-position: center;
background-repeat: no-repeat;
background-size: cover;
background-attachment: fixed;
}
.clock-contianer{
  display: flex;justify-content: center;align-items: center;
  height: 100vh;

}
#clock{
font-family: monospace;
font-size: 2.6rem;
font-weight: bold;
text-align: center;
background: url();
color: black;
backdrop-filter: blur(5px);
width: 100%;


}